absl-py
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
astunparse
async-lru
attrs
Babel
beautifulsoup4
bleach
blinker
blis
branca
cachetools
calc
catalogue
certifi
cffi
chardet
charset-normalizer
click
click-plugins
cligj
cloudpathlib
colorama
comm
comtypes
confection
contourpy
cryptography
cycler
cymem
dash
dash-core-components
dash-html-components
dash-table
debugpy
decorator
deep-translator
defusedxml
distlib
distro
Django
dm-tree
dnspython
dominate
email-validator
executing
fastapi
fastapi-cli
fastjsonschema
ffmpy
filelock
fiona
Flask
Flask-Bootstrap
flask-ngrok
flatbuffers
folium
fonttools
fqdn
frozenlist
fsspec
future
gast
gensim
geopandas
gitdb
GitPython
google-pasta
google-trans-new
googletrans
gradio
gradio_client
greenlet
grpcio
h11
h2
h5py
hpack
hstspreload
httpcore
httptools
httpx
huepy
huggingface-hub
hyperframe
idna
imageio
imageio-ffmpeg
imbalanced-learn
immutabledict
importlib-metadata
importlib_resources
iniconfig
instabot
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
jiter
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-widgets
jupyterlab_pygments
jupyterlab_server
keras
kiwisolver
langchain
langchain-core
langchain-text-splitters
langcodes
langdetect
langsmith
language_data
libclang
lightgbm
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
ml-dtypes
mock
moviepy
multidict
murmurhash
mysql-connector
mysql-connector-python
namex
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numpy
openai
opencv-python
opt-einsum
orjson
ortools
osmnx
overrides
packaging
pandas
pandocfilters
parso
patsy
pdfminer
pdfminer.six
Pillow
platformdirs
plotly
plotly-express
pluggy
preshed
proglog
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pyasn1
pycaw
pycparser
pycryptodome
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
pydeck
pydub
pygame
Pygments
pyngrok
pyparsing
PyPDF2
pypiwin32
pypng
pyproj
PySimpleGUI
PySocks
pytesseract
pytest
python-dateutil
python-dotenv
python-json-logger
python-multipart
pyttsx3
pytz
pywin32
pywinpty
PyYAML
pyzmq
qrcode
qtconsole
QtPy
referencing
regex
requests
requests-toolbelt
responses
retrying
rfc3339-validator
rfc3986
rfc3986-validator
rich
rpds-py
rsa
ruff
schedule
scikit-learn
scipy
seaborn
semantic-version
Send2Trash
setuptools
shapely
shellingham
six
smart-open
smmap
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
SpeechRecognition
SQLAlchemy
sqlparse
srsly
stack-data
starlette
statsmodels
streamlit
svg.path
svgpathtools
svgwrite
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
terminado
textblob
thinc
threadpoolctl
tinycss2
toml
tomlkit
toolz
tornado
tqdm
traitlets
translator
typer
types-python-dateutil
typing_extensions
tzdata
tzlocal
ujson
uri-template
urllib3
uvicorn
validators
virtualenv
visitor
wasabi
watchdog
watchfiles
wcwidth
weasel
webcolors
webencodings
websocket-client
websockets
Werkzeug
wheel
widgetsnbextension
wordcloud
wrapt
xgboost
xyzservices
yarl
zipp
